<app-navbar></app-navbar>
<app-classhome [classId]="classId"></app-classhome>
<!-- component -->
<div class="antialiased font-sans h-screen bg-gray-200">
  <div class="flex justify-between">
    <div class="pt-2 pr-2 pb-2 pl-4">
      <h2 class="text-2xl  font-semibold leading-tight">Students List</h2>
    </div>
    <div class="w-auto">
      <!-- <div class=""><h1 class="text-xl my-3 text-gray-800 font-semibold">Search your class here.... </h1></div> -->
      <div class="my-2 px-5">

        <form class="flex justify-end">
          <input [(ngModel)]="names" name="names" class="form-input  mr-2 rounded-xl" type="search" placeholder="Search"
            aria-label="Search">
          <button class="bg-gray-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg"
            type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container mx-auto ">
    <div class="">

      <div class="-mx-4 m-3 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Name
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Email
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Phone
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of students | class:'names':names;">
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex justify-center">
                    <div class="ml-3">
                      <p class="text-gray-900 text-center whitespace-no-wrap">
                        {{s?.name}}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex justify-center">
                    <div class="ml-3">
                      <p class="text-gray-900 text-center whitespace-no-wrap">
                        {{s?.email}}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex justify-center">
                    <div class="ml-3">
                      <p class="text-gray-900 text-center whitespace-no-wrap">
                        {{s?.phone}}
                      </p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-quespage
          [currentPage]="currentPage"
          [totalPages]="totalItems"
          (pageChange)="onPageChange($event)">
         </app-quespage>
        </div>
      </div>
    </div>
  </div>
</div>