<app-navbar></app-navbar>
<app-classhome [classId]="classId"></app-classhome>
<div *ngFor="let a of a"
    class="w-full md:w-1/6 flex flex-col md:flex-row rounded-xl shadow-xl  p-2 mx-auto border border-gray-200 bg-white">

    <div class="w-full w-32 p-3 bg-white grid place-items-center">
      
      <pdf-viewer
      [src]="a"
      [render-text]="true"
      [original-size]="false"
      class="w-32 h-32 rounded-xl" 
    ></pdf-viewer>
      <div class="w-auto md:felx-1 bg-white flex flex-col ">

        <h3 class="font-black text-gray-800 md:text-2xl uppercase py-2 text-xl"></h3>
      </div>
    </div>
  </div>
