<div class="mt-8 max-w-xl mx-auto flex flex-wrap justify-center items-start font-sans antialiased"> 
    <section class="mb-8 lg:mr-8 bg-white p-6 rounded shadow-md border-2 border-gray-300" style="width: 25rem;">
        <div class="flex justify-between items-start mb-6">
          <div class="p-2 bg-blue-lightest rounded-full">
            <svg
              class="w-10 h-10 text-blue-500"
              width="32"
              height="32"
              viewBox="0 0 24 24">
                <path fill="currentColor" d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
            </svg>
          </div>
          <button (click)="closeModal()" class="border border-transparent focus:border-blue trans-all-linear" type="button">
            <svg
              class="w-8 h-8 text-grey hover:text-grey-dark"
              width="32"
              height="32"
              viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
          </button>
        </div>
        <div class="mb-3 leading-normal">
          <h1 class="mb-2 text-base font-bold">Upload a video file</h1>
          <p class="mb-6 text-sm font-semibold text-grey-dark">Attach the video file below.</p>
          <div class="p-8 border-2 border-dashed border-grey-light flex flex-col justify-center items-center">
            
    
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span></p>
                <p class="text-xs text-gray-500 dark:text-gray-400">Upload video file only</p>
            </div>
        </label>
          </div>
          <form  novalidate>
            <div class="relative z-0 w-full mb-5">
              <input id="dropzone-file" type="file" class="hidden" (change)="setFile($event)" accept="video/mp4,video/MPEG-4,video/mkv"/>
              <input
                [(ngModel)]="datas.description"
                type="text"
                name="description"
                placeholder="Enter Description "
                
                class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
              />
              <label for="subject" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
              <span class="text-sm text-red-600 hidden" id="error">Description</span>
            </div>
            </form>
        </div>
        <footer class="flex justify-end align-center">
          <button (click)="closeModal()"  class="mr-3 p-3 text-sm font-semibold border-2 border-grey-light rounded hover:bg-grey-light focus:bg-grey-light focus:border-blue trans-all-linear" type="button">Cancel</button>
          <button (click)="uploadVideo($event)" class="mr-3 p-3 text-sm text-white font-semibold bg-blue-500 rounded" tabindex="0"
                type="button">Upload</button>
        </footer>
      </section>
      </div>
    

