<app-snavbar></app-snavbar>
<!-- component -->
<div class="antialiased font-sans h-screen bg-gray-200">
  <div class="flex justify-between">
    <div class="pt-2 pr-2 pb-2 pl-4">
      <h2 class="text-2xl  font-semibold leading-tight">Class</h2>
    </div>
    <div class="w-auto">
      <!-- <div class=""><h1 class="text-xl my-3 text-gray-800 font-semibold">Search your class here.... </h1></div> -->
      <div class="my-2 px-5">

        <form class="flex justify-end">
          <input [(ngModel)]="subject" name="subject" class="form-input  mr-2 rounded-xl" type="search" placeholder="Search"
            aria-label="Search">
          <button class="bg-gray-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg"
            type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container mx-auto ">
    <div class="">

      <div class="-mx-4 m-3 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Subject
                </th>
                <!-- <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                  Ro
                              </th> -->
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Class
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Chapters
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 text-center uppercase tracking-wider">
                  Join
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of cls| class:'class':subject;">
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex justify-center">
                    <div class="ml-3">
                      <p class="text-gray-900 text-center whitespace-no-wrap">
                        {{c?.subject}}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex justify-center">
                      <div class="ml-3">
                        <p class="text-gray-900 text-center whitespace-no-wrap">
                          {{c?.class}}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex justify-center">
                      <div class="ml-3">
                        <p class="text-gray-900 text-center whitespace-no-wrap">
                          {{c?.chapter}}
                        </p>
                      </div>
                    </div>
                  </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex justify-center">
                    <a routerLink="/student/sclassin/{{c?._id}}/{{c?.tutor._id}}">
                    <button class=" bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg"
                      type="submit">Join</button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-squespage
          [currentPage]="currentPage"
          [totalPages]="totalItems"
          (pageChange)="onPageChange($event)">
         </app-squespage>
        </div>
      </div>
    </div>
  </div>
</div>
